:root{
    --black: #0D0D0D;
    --white_gradient: linear-gradient(180deg, #FFFFFF, #999999);
    --grey: #323232;
    --lighter_grey: #999999;
}

.offerFrame{
    width: 39rem;
    height: 46rem;
    background-color: var(--black);
    padding: 4rem;
    color: white;
    border-radius: 1.75rem;

    border-color: white;
    border-width: 2px;
    border-style: solid;

    gap: 2rem;
    font-weight: 500;
}

.package{
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--white_gradient);

    background: var(--gradient-white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description{
    font-size: 1.5rem;
    color: var(--lighter_grey);

}


.priceFrame{
    gap: 1rem;
}

.price{
    font-size: 4.6rem;
    font-weight: 600;
}

.unit{
    background-color: var(--grey);
    color: var(--lighter_grey);
    border-radius: .25rem;
    font-size: 1rem;
}


.bulletPoints{
    height: 29rem;
    line-height: 250%;
}

.point{
    font-size: 1.5rem;
    list-style-type: '🗸 ';
}

