:root{
    --yellow: #FF6B00;
    --gradient-white: linear-gradient(180deg, #FFFFFF, #999999)
}

.outerBox{
    background-color: transparent;
    border-radius: 1rem;

    border-color: white;
    border-width: 2px;
    border-style: solid;

    width: 22rem;
    height: 3.125rem;

    white-space: nowrap;
}   

.innerText{
    background: var(--gradient-white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0 1rem;
}