:root{
    --yellow: #FF6B00;
    --gradient-white: linear-gradient(180deg, #FFFFFF, #999999)
}


.navBar{
    /* width: 100%; */
    height: 4.5rem;

    z-index: 10000;
    top: 0;
    position: sticky;
    background-color: black;

    padding: 0 4.7rem;
}

.logo{
    font-style: italic;
    font-weight: 800;
    font-size: 1.25rem;
    color: white;
}

.navButtons{
    font-weight: 600;
    color: white;
    font-size: 1.25rem;
    gap: 2.5rem;
}

.page1{
    background-image: url('./assets/tunnelBG.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 100dvh;
}

body{
    color: white;
}

.p1_title{
    font-weight: 600;
}