:root{
    --yellow: #FF6B00;
    --gradient-white: linear-gradient(180deg, #FFFFFF, #999999)
}


.navBar{
    /* width: 100%; */
    height: 4.5rem;

    z-index: 10000;
    top: 0;
    position: sticky;
    background-color: black;

    padding: 0 4.7rem;
}

.logo{
    font-style: italic;
    font-weight: 800;
    font-size: 1.25rem;
    color: white;
}

.navButtons{
    font-weight: 600;
    color: white;
    font-size: 1.25rem;
    gap: 2.5rem;
}

.btn-icon{
    background-color: transparent;
    border: none;
}


.btn-icon:focus{
    outline: none;
}

.hamburger{
    color: white;
    font-size: 2.5rem;
}

.hamburger:active{
    transform: scale(1.3);
    transition: transform 0.05s ease;
}
.scale{
    transform: scale(1.3);
    transition: transform 0.2s ease;
}

.page1{
    background-image: url('./assets/tunnelBG.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 100dvh;
}


body{
    color: white;
}

.p1_stuff{
    gap: 100000rem;
}

.p1_title{
    font-weight: 700;
    font-size: 3.75rem;
    line-height: auto;
}

.highlight{
    color: var(--yellow);
}

.p1_text{
    font-size: 1.5rem;
}

.p1_proof_container{
    gap: 1.25rem;
}
